/* Definindo o estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Fonte usada no texto */
    display: flex; /* Usando Flexbox para centralizar a calculadora */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
    background-color: #f2d6ce; /* Cor de fundo */
    margin: 0; /* Remove margens padrão */
}

/* Estilo para o contêiner da calculadora */
.calculadora {
    background-color: #b18e7e; /* Cor de fundo da calculadora */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor da calculadora */
    display: grid; /* Utilizando grid layout */
    grid-template-columns: repeat(4, 1fr); /* Define 4 colunas iguais */
    grid-gap: 10px; /* Espaço entre as células da grid */
    width: 300px; /* Largura da calculadora */
}

/* Estilo do campo de entrada (visor) */
input {
    grid-column: span 4; /* O visor ocupa todas as 4 colunas */
    height: 40px; /* Altura do visor */
    font-size: 24px; /* Tamanho da fonte */
    text-align: right; /* Alinha o texto à direita */
    padding: 10px; /* Espaçamento interno */
    border: 2px solid #ddd; /* Borda ao redor do visor */
    border-radius: 5px; /* Cantos arredondados */
}

/* Estilo para os botões */
button {
    width: 100%; /* O botão ocupa 100% da largura da célula da grid */
    height: 50px; /* Altura dos botões */
    font-size: 20px; /* Tamanho da fonte nos botões */
    background-color: #dabcac; /* Cor de fundo dos botões */
    border: none; /* Remove bordas padrão */
    border-radius: 5px; /* Cantos arredondados nos botões */
    cursor: pointer; /* Muda o cursor ao passar sobre os botões */
    transition: background-color 0.3s; /* Transição suave ao mudar a cor de fundo */
}

/* Cor de fundo ao passar o mouse sobre os botões */
button:hover {
    background-color: #ddd;
}

/* Cor de fundo ao clicar nos botões */
button:active {
    background-color: #ccc;
}

img{
    width: 30px;
    height: 30px;
}